<h4>マイページ</h4>

<h5>登録情報</h5>

<%= link_to  "編集する", edit_public_users_path, class: "btn btn-default navbar-btn"%>

<%= link_to  "パスワードを変更する", edit_user_password_path, class: "btn btn-default navbar-btn"%>

<table>
  <thead>
    <tr>
      <th>ニックネーム</th>
      <td><%= current_user.name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= current_user.email %></td>
    </tr>
  </thead>
</table>

<%= form_for @tech_tag_new, url: add_tag_public_user_path, html: { method: :post } do |f| %>
  <%= f.label :name, "技術名" %>
  <%= f.text_field :name %><br />

  <%= f.label :name, "技術レベル" %>
  <label><%= f.radio_button :level, 1 %>1</label>
  <label><%= f.radio_button :level, 2 %>2</label>
  <label><%= f.radio_button :level, 3 %>3</label>
  <label><%= f.radio_button :level, 4 %>4</label>
  <label><%= f.radio_button :level, 5 %>5</label>

  <%= f.submit '追加', class: "btn btn-succsess navbar-btn" %>

<% end %>


